{{ define "header" }}
  {{ partial "hero" . }}
  {{ partial "boxes-small-news" . }}
{{ end }}

{{ define "main" }}

  {{ partial "home-page-sections/features" . }}
  {{ partial "home-page-sections/themes" . }}
  {{ partial "home-page-sections/templating" . }}
  {{ partial "home-page-sections/installation" . }}
  {{ partial "home-page-sections/tweets" . }}
  {{ partial "home-page-sections/open-source-involvement" . }}
  <!-- TODO: abstract the content from these sections into content pages, if possible, to be more easily edited -->
{{ end }}
