{{ define "header" }}
  {{ partial "header" . }}
  {{ partial "boxes-small-news" . }}
{{ end }}

{{ define "main" }}
  <main class="cf ph3 ph5-l pv3 pv4-l f4 tc center measure-wide lh-copy gray">

  </main>


  <section class="w-100 v-top black pa4">
    {{ range .Params.features  }}
      <div class="relative">
        <h1 class="f3 near-black">
          {{ .heading }}
        </h1>
        <div class="nested-links f5 black nested-copy-line-height">
          <p>
            {{ .copy  }}
          </p>
        </div>
      </div>
    {{ end }}

</section>

    {{ partial "home-page-sections/installation" . }}
    {{ partial "home-page-sections/themes" . }}
    {{ partial "home-page-sections/tweets" . }}
    {{ partial "home-page-sections/open-source-involvement" . }}

{{ end }}
