{{ $author := .context.Params.author }}
{{ if $author }}
  <aside class="mw5 br3 mv3 nested-links">
    {{ $urlPre := "https://api.github.com" }}
    {{ $user_json := getJSON $urlPre "/users/" $author }}
      {{ if $user_json.name }}
        <h3 class="f4 dib">
            {{ $user_json.name }}
        </h3>
        <a href="{{ $user_json.url }}" class="link dim v-mid ml2 dib">
          {{ partial "svg/github-squared.svg" (dict "fill" "gray" "width" "16" "height" "18") }}
        </a>
      {{ end }}
      {{ if $user_json.bio }}
        <p class="lh-copy measure center mt0 f6 black-60">
          {{ $user_json.bio }}
        </p>
      {{ end }}
  </aside>
{{ end }}
